# Entorno virtual
venv/
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
*.log

# Variables de entorno
.env

# Visual Studio Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

media
